### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
sum_of_players = len(purchase_data["SN"].unique())
player_dic = {"Total Player": [sum_of_players]}
df = pd.DataFrame(player_dic)
df

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
number_of_unique_items = len(purchase_data["Item ID"].unique())
everage_price =purchase_data["Price"].mean()
nmber_of_purchases = purchase_data["Purchase ID"].count()
total_revenue=purchase_data["Price"].sum()
total_dic = {'Number of Unique Items': [number_of_unique_items],
             'Average Price':[everage_price],
             'Number of Purchases':[nmber_of_purchases],
             'Total Revenue':[total_revenue],
            }
total_df = pd.DataFrame(total_dic)
total_df["Average Price"] = total_df["Average Price"].map("${:.2f}".format)
total_df["Total Revenue"] = total_df["Total Revenue"].map("${:.2f}".format)
total_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
gender_df = purchase_data.groupby("Gender")["SN"].nunique()
gender_df
gender_percent_df=((gender_df/sum_of_players)*100).round(2)
gender_demographics_df = pd.DataFrame({"Total Count": gender_df,"Percentage of Players":gender_percent_df}).sort_values("Total Count", ascending=False)
gender_demographics_df

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#general_df = pd.DataFrame(purchase_data)
genderGroup = purchase_data.groupby('Gender')


#format_currency(pd.to_numeric(purchase_data["Price"].sum()), 'USD')

purchase_count_df = genderGroup["Purchase ID"].count()
average_price_df = genderGroup["Price"].mean()
total_df = genderGroup["Price"].sum()
average_total_df = total_df/genderGroup["SN"].nunique()
total_user_data_df = pd.DataFrame({"Purchase Count":purchase_count_df,
                                   "Average Purchase Price": average_price_df.map("${:.2f}".format),
                                   "Total Purchase Value": total_df.map("${:.2f}".format),
                                   "Avg Total Purchase per Person": average_total_df.map("${:.2f}".format)
                                  
                                  })

total_user_data_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
purchase_data.head(2)
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)

age_grouped = purchase_data.groupby("Age Group")
total_count_age = age_grouped["SN"].nunique()

percentage_by_age = ((total_count_age/sum_of_players) * 100).round(2)
age_demographics = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_by_age})
age_demographics.index.name = None
age_demographics

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
pa_purchase_count= age_grouped["Purchase ID"].count()
pa_average_purchase_price=age_grouped["Price"].sum()/pa_purchase_count
pa_total_purchase_value= age_grouped["Price"].sum()
pa_avg_total_purchase_per_person= pa_total_purchase_value/age_grouped["SN"].nunique()
purchasing_analysis_list = {"Purchase Count": pa_purchase_count, 
                            "Average Purchase Price": pa_average_purchase_price.map("${:.2f}".format),
                            "Total Purchase Value": pa_total_purchase_value.map("${:.2f}".format),
                            "Avg Total Purchase ": pa_avg_total_purchase_per_person.map("${:.2f}".format),
                           }
purchasing_analysis = pd.DataFrame(purchasing_analysis_list)
purchasing_analysis.index.name = None
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
player_group = purchase_data.groupby("SN")
top_spender_purchase_count = player_group["Purchase ID"].count()
top_spender_av_price = player_group["Price"].sum()/top_spender_purchase_count
top_spender_tot_purchase_value=player_group["Price"].sum()


top_spenders_list = {"Purchase Count": top_spender_purchase_count, 
                        "Average Purchase Price": top_spender_av_price.map("${:.2f}".format),
                        "Total Purchase Value": top_spender_tot_purchase_value
                    }

top_spenders = pd.DataFrame(top_spenders_list).sort_values(["Total Purchase Value"], ascending=False).head()
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:.2f}".format)
top_spenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
most_popular_df=purchase_data[["Item ID", "Item Name", "Price"]]
most_popular_group = purchase_data.groupby(["Item ID", "Item Name"])
most_popular_purchase_count = most_popular_group["Purchase ID"].count()
most_popular_total_purchase = most_popular_group["Price"].sum() 

most_popular_list = {"Purchase Count": most_popular_purchase_count, 
                        "Item Price": (most_popular_total_purchase/most_popular_purchase_count).map("${:.2f}".format),
                        "Total Purchase Value": most_popular_total_purchase
                    }

most_popular = pd.DataFrame(most_popular_list).sort_values(["Purchase Count"], ascending=False).head()
most_popular["Total Purchase Value"] = most_popular["Total Purchase Value"].map("${:.2f}".format)
most_popular

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
most_profit_df= pd.DataFrame(most_popular_list).sort_values(["Total Purchase Value"], ascending=False).head()
most_profit_df